.allproductpage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 100px 0 0 0;
  .wrapper-1 {
    width: 1500px;
    padding: 0 0 100px 0;
    h1 {
      text-align: center;
      font-size: 60px;
    }
  }
  .wrapper-2 {
    width: 1600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .wrapper-2-filter {
      width: 300px;
      border: 1px solid #333;
      display: flex;
      flex-direction: column;
      padding: 50px 0;
      .removeallfilter {
        display: flex;
        justify-content: flex-end;
        button {
          width: 100px;
          height: 50px;
          background-color: #fd6713;
          color: #fff;
          margin: 25px 25px 0 0;
          border: none;
          border-radius: 50px;
          font-size: 18px;
          cursor: pointer;
        }
      }
      .filter-1 {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        .filter-1-checkbox {
          width: 100%;
          height: 35px;
          display: flex;
          flex-direction: row;
          margin: 0 auto;
          justify-content: space-between;
          align-items: center;
          gap: 25px;

          input[type="checkbox"] {
            margin-left: 50px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            appearance: none;
            border: 1px solid #333;
            &:checked {
              background-color: #fd6713;
            }
            &:checked::after {
              content: "\2713";
              color: #fd6713;
            }
          }

          p {
            font-size: 24px;
            width: 200px;
          }
        }
      }
      @for $i from 2 through 6 {
        .filter-#{$i} {
          display: flex;
          flex-direction: column;
          margin-top: 25px;
          h1 {
            margin-left: 50px;
            margin-bottom: 10px;
          }
          .filter-#{$i}-checkbox {
            width: 100%;
            height: 35px;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            gap: 25px;

            input[type="checkbox"] {
              margin-left: 50px;
              width: 18px;
              height: 18px;
              cursor: pointer;
              appearance: none;
              border: 1px solid #333;
              &:checked {
                background-color: #fd6713;
              }
              &:checked::after {
                content: "\2713";
                color: #fd6713;
              }
            }

            p {
              font-size: 24px;
              width: 200px;
            }
          }
        }
      }
    }
    .filter-7 {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      h1 {
        margin-left: 50px;
        margin-bottom: 10px;
      }
      .filter-7-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        .filter-7-box-row {
          height: 60px;
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-left: 48px;

          .filter-7-box-row-white {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #000;
            cursor: pointer;
          }
          .filter-7-box-row-black {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #000;
            background-color: #000;
            cursor: pointer;
          }
          .filter-7-box-row-red {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #cc0000;
            background-color: #cc0000;
            cursor: pointer;
          }
          .filter-7-box-row-blue {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #5271ff;
            background-color: #5271ff;
            cursor: pointer;
          }
          .filter-7-box-row-purple {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #8c52ff;
            background-color: #8c52ff;
            cursor: pointer;
          }
          .filter-7-box-row-pink {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #ff66c4;
            background-color: #ff66c4;
            cursor: pointer;
          }
          .filter-7-box-row-green {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #00bf63;
            background-color: #00bf63;
            cursor: pointer;
          }
          .filter-7-box-row-yellow {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #ffde59;
            background-color: #ffde59;
            cursor: pointer;
          }
          .filter-7-box-row-orange {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #ff914d;
            background-color: #ff914d;
            cursor: pointer;
          }
          .filter-color-boxshadow {
            box-shadow: 0 0 5px 5px #fad390;
          }
        }
      }
    }
    .wrapper-2-box {
      width: 1100px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @for $i from 1 through 3 {
        .wrapper-2-box-#{$i} {
          width: 100%;
          height: 30%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 100px;
          .wrapper-2-box-card {
            width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .wrapper-2-box-card-image {
              width: 300px;
              aspect-ratio: 1/1;
              background-color: #f6e2cd;
              a {
                .wrapper-2-box-card-image-wrapper {
                  width: 100%;
                  height: 100%;
                  position: relative;
                  .bestseller-tag {
                    width: 75px;
                    height: 25px;
                    background-color: #ff3131;
                    position: absolute;
                    z-index: 2;
                    text-align: center;
                    line-height: 25px;
                    color: #fff;
                    font-weight: 700;
                  }
                  .newproduct-tag {
                    width: 75px;
                    height: 25px;
                    background-color: #74b9ff;
                    position: absolute;
                    z-index: 2;
                    text-align: center;
                    line-height: 25px;
                    color: #fff;
                    font-weight: 700;
                  }
                  .sale-tag {
                    width: 75px;
                    height: 25px;
                    background-color: #ff3131;
                    position: absolute;
                    z-index: 2;
                    text-align: center;
                    line-height: 25px;
                    color: #fff;
                    font-weight: 700;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                  }
                }
              }
            }
            .wrapper-2-box-card-title {
              width: 100%;
              height: 10%;
            }
            .wrapper-2-box-card-buybox {
              width: 100%;
              height: 10%;
              background-color: #ff3131;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              p {
                font-size: 18px;
                color: #fff;
                padding: 0 8px;
                display: flex;
                flex-direction: row;
                text-decoration: none;
                span {
                  height: 100%;
                  font-size: 12px;
                  text-decoration: line-through;
                  color: #cecfcf;
                  margin: 5px 0 0 5px;
                }
              }
              a {
                font-size: 18px;
                color: #fff;
                padding: 0 8px;
              }
            }
          }
        }
      }
      .wrapper-2-box-4 {
        width: 100%;
        height: 3%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;

        button {
          height: 100%;
          aspect-ratio: 1/1;
          border-radius: 100px;
          background-color: #fff;
          border: none;
          cursor: pointer;
        }
        .allproduct-pagechange {
          display: flex;
          flex-direction: row;
          width: 300px;
          justify-content: center;
          gap: 20px;
          overflow: hidden;
          button {
            font-weight: 700;
            font-size: 18px;
          }
          button.active {
            color: #fff;
            background-color: #fd6713;
          }
        }
      }
    }
  }
  .shopplace {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
    .instagramplace-box {
      width: 70%;
      background-color: #f0f1f1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 25px;
      .instagramplace-box-shopee{
        button{
          width: 200px;
          height: 50px;
          font-size: 24px;
          background-color: #E85502;
          color: #fff;
          border: none;
        }
      }
      .instagramplace-box-tiktok{
        button{
          width: 200px;
          height: 50px;
          font-size: 24px;
          background-color: #000;
          color: #fff;
          border: none;
        }
      }
      .instagramplace-box-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .instagramplace-box-1-likebox {
          background-color: #f94161;
          width: 50px;
          height: 35px;
          border-radius: 5px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: -18px; /* Điều chỉnh vị trí phía trên */
            left: 50%; /* Để căn giữa */
            margin-left: -10px; /* Để căn mũi tên giữa */
            border-width: 10px;
            border-style: solid;
            border-color: #f94161 transparent transparent transparent; /* Màu mũi tên và div giống nhau */
          }
          .instagramplace-box-1-likebox-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            svg {
              width: 17.5px;
              height: 17.5px;
            }
            span {
              color: #fff;
              font-size: 12px;
            }
          }
        }
        h1 {
          font-family: "Cormorant Garamond", serif;
          line-height: 50px;
        }
      }
      .instagramplace-box-2 {
        width: 100%;
        p {
          text-align: center;
          font-size: 24px;
        }
      }
      .instagramplace-box-3 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding-bottom: 50px;
        @for $i from 1 through 4 {
          a {
            .instagramplace-box-3-#{$i} {
              width: 250px;
              aspect-ratio: 1/1;
              background-color: #ff914d;
            }
          }
        }
      }
    }
  }
}
