@charset "UTF-8";
:root {
  --height-from: 67px;
  --height-to: 435px;
}

div .subscribe-popupmodel {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(237, 239, 239, 0.7);
  display: none;
}
div .subscribe-popupmodel .subscribe-popupmodel-thankyou-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .subscribe-popupmodel .subscribe-popupmodel-thankyou-wrapper div {
  width: 40%;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
div .subscribe-popupmodel .subscribe-popupmodel-thankyou-wrapper div h1 {
  font-weight: 500;
  margin: 10px 0;
}
div .subscribe-popupmodel .subscribe-popupmodel-thankyou-wrapper div p {
  font-style: italic;
  font-size: 24px;
}
div .message {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div .message .message-wrapper {
  width: 90%;
  text-align: center;
}
div .message .message-wrapper h1 {
  color: #fd6713;
  font-size: 46px;
  margin: 0 auto;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
div .message .message-wrapper p {
  font-size: 24px;
}
div .message .message-wrapper .message-wrapper-content {
  width: 50%;
  margin: 0 auto;
}
div .playwithbaby {
  width: 100%;
  background-color: #edefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div .playwithbaby .playwithbaby-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
}
div .playwithbaby .playwithbaby-wrapper h1 {
  font-weight: 500;
  text-align: center;
  font-size: 68px;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-1 {
  width: clamp(200px, 20vw, 360px);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-1 .playwithbaby-wrapper-contain-1-image {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #fff;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-1 h2 {
  text-align: center;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 32px);
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-1 a .playwithbaby-wrapper-contain-1-shopnow {
  text-align: center;
  font-size: 20px;
  background-color: #ff3131;
  color: #fff;
  width: 200px;
  margin: 0 auto;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-2 {
  width: clamp(200px, 20vw, 360px);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-2 .playwithbaby-wrapper-contain-2-image {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #fff;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-2 h2 {
  text-align: center;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 32px);
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-2 a .playwithbaby-wrapper-contain-2-shopnow {
  text-align: center;
  font-size: 20px;
  background-color: #ff3131;
  color: #fff;
  width: 200px;
  margin: 0 auto;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-3 {
  width: clamp(200px, 20vw, 360px);
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-3 .playwithbaby-wrapper-contain-3-image {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #fff;
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-3 h2 {
  text-align: center;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 32px);
}
div .playwithbaby .playwithbaby-wrapper .playwithbaby-wrapper-contain .playwithbaby-wrapper-contain-3 a .playwithbaby-wrapper-contain-3-shopnow {
  text-align: center;
  font-size: 20px;
  background-color: #ff3131;
  color: #fff;
  width: 200px;
  margin: 0 auto;
}
div .subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
div .subscribe .subscribe-wrapper {
  width: 800px;
  text-align: center;
}
div .subscribe .subscribe-wrapper h1 {
  font-weight: 500;
}
div .subscribe .subscribe-wrapper .subscribe-wrapper-content {
  font-style: italic;
  font-size: 18px;
  margin: 10px 0 20px 0;
}
div .subscribe .subscribe-wrapper form {
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
div .subscribe .subscribe-wrapper form div {
  width: 100%;
}
div .subscribe .subscribe-wrapper form div input {
  width: 300px;
  padding-left: 10px;
  height: 30px;
}
div .subscribe .subscribe-wrapper form div button {
  background-color: #fd6713;
  color: #fff;
  border: none;
  width: 80px;
  height: 34px;
}
div .BST {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d0ab;
}
div .BST .BST-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 50px 0;
}
div .BST .BST-wrapper h1 {
  text-align: center;
  margin: 15px 0;
}
div .BST .BST-wrapper a {
  background-color: #ff3131;
  color: #fff;
  border: none;
  width: 240px;
  height: 34px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .freeship {
  width: 100%;
  background-color: #fd6713;
}
div .freeship .freeship-wrapper {
  padding: 20px 0;
}
div .freeship .freeship-wrapper p {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
div .freeship .freeship-wrapper p a {
  text-decoration: underline;
  color: #fff;
  font-weight: 100;
}
div .bestsellers {
  width: 100%;
  background-color: #edefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .bestsellers .bestsellers-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  gap: 50px;
}
div .bestsellers .bestsellers-wrapper h1 {
  color: #db2c2c;
  font-size: 60px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .slick-next:before {
  content: none; /* Xóa pseudo-element ::before */
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .slick-prev:before {
  content: none; /* Xóa pseudo-element ::before */
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-1 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-1 a .bestsellers-carousel-1-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-1 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-1 .bestsellers-carousel-1-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-1 .bestsellers-carousel-1-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-1 .bestsellers-carousel-1-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-1 .bestsellers-carousel-1-box .bestsellers-carousel-1-box-addtocart {
  cursor: pointer;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-2 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-2 a .bestsellers-carousel-2-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-2 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-2 .bestsellers-carousel-2-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-2 .bestsellers-carousel-2-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-2 .bestsellers-carousel-2-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-2 .bestsellers-carousel-2-box .bestsellers-carousel-2-box-addtocart {
  cursor: pointer;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-3 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-3 a .bestsellers-carousel-3-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-3 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-3 .bestsellers-carousel-3-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-3 .bestsellers-carousel-3-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-3 .bestsellers-carousel-3-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-3 .bestsellers-carousel-3-box .bestsellers-carousel-3-box-addtocart {
  cursor: pointer;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-4 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-4 a .bestsellers-carousel-4-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-4 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-4 .bestsellers-carousel-4-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-4 .bestsellers-carousel-4-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-4 .bestsellers-carousel-4-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-4 .bestsellers-carousel-4-box .bestsellers-carousel-4-box-addtocart {
  cursor: pointer;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-5 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-5 a .bestsellers-carousel-5-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-5 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-5 .bestsellers-carousel-5-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-5 .bestsellers-carousel-5-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-5 .bestsellers-carousel-5-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-5 .bestsellers-carousel-5-box .bestsellers-carousel-5-box-addtocart {
  cursor: pointer;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-6 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-6 a .bestsellers-carousel-6-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-6 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-6 .bestsellers-carousel-6-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-6 .bestsellers-carousel-6-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-6 .bestsellers-carousel-6-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-6 .bestsellers-carousel-6-box .bestsellers-carousel-6-box-addtocart {
  cursor: pointer;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-7 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-7 a .bestsellers-carousel-7-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-7 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-7 .bestsellers-carousel-7-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-7 .bestsellers-carousel-7-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-7 .bestsellers-carousel-7-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-7 .bestsellers-carousel-7-box .bestsellers-carousel-7-box-addtocart {
  cursor: pointer;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-8 {
  width: 90%;
  height: 100%;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-8 a .bestsellers-carousel-8-image {
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-8 h2 {
  height: 42px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  margin: 15px auto;
  color: #000;
  line-height: 42px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-8 .bestsellers-carousel-8-box {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background-color: #ff3131;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-8 .bestsellers-carousel-8-box p {
  font-size: 18px;
  color: #fff;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-8 .bestsellers-carousel-8-box p span {
  height: 100%;
  font-size: 12px;
  text-decoration: line-through;
  color: #cecfcf;
  margin: 5px 0 0 5px;
}
div .bestsellers .bestsellers-wrapper .bestsellers-carousel .bestsellers-carousel-8 .bestsellers-carousel-8-box .bestsellers-carousel-8-box-addtocart {
  cursor: pointer;
}
div .setquathoinoi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}
div .setquathoinoi .setquathoinoi-wrapper {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .setquathoinoi .setquathoinoi-wrapper .setquathoinoi-wrapper-box {
  position: relative;
  width: 500px;
  height: 500px;
}
div .setquathoinoi .setquathoinoi-wrapper .setquathoinoi-wrapper-box .setquathoinoi-wrapper-box-1 {
  top: 0;
  aspect-ratio: 1/1;
  height: 100%;
  background-color: #edefef;
  position: absolute;
}
div .setquathoinoi .setquathoinoi-wrapper .setquathoinoi-wrapper-box .setquathoinoi-wrapper-box-2 {
  width: 500px;
  height: 300px;
  position: absolute;
  background-color: #fd6713;
  left: 375px;
  top: 100px;
}
div .setquathoinoi .setquathoinoi-wrapper .setquathoinoi-wrapper-box .setquathoinoi-wrapper-box-2 h1 {
  padding: 35px;
  color: #fff;
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
}
div .setquathoinoi .setquathoinoi-wrapper .setquathoinoi-wrapper-box .setquathoinoi-wrapper-box-2 h1 span {
  padding-left: 35px;
}
div .setquathoinoi .setquathoinoi-wrapper .setquathoinoi-wrapper-box .setquathoinoi-wrapper-box-2 p {
  padding: 0 35px 25px 35px;
  color: #fff;
  font-style: italic;
  font-size: 17px;
}
div .setquathoinoi .setquathoinoi-wrapper .setquathoinoi-wrapper-box .setquathoinoi-wrapper-box-2 a {
  background-color: #fff;
  color: #ff3131;
  border: none;
  width: 240px;
  height: 34px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
div a .salebanner {
  width: 100%;
  height: 400px;
  background-color: #f4d0ab;
  text-align: center;
  line-height: 400px;
  font-size: 60px;
  color: #000;
}
div .instagramplace {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .instagramplace .instagramplace-box {
  width: 70%;
  height: 500px;
  margin: 50px 0;
  background-color: #f0f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
div .instagramplace .instagramplace-box .instagramplace-box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
div .instagramplace .instagramplace-box .instagramplace-box-1 .instagramplace-box-1-likebox {
  background-color: #f94161;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  position: relative;
}
div .instagramplace .instagramplace-box .instagramplace-box-1 .instagramplace-box-1-likebox:after {
  content: "";
  position: absolute;
  bottom: -18px; /* Điều chỉnh vị trí phía trên */
  left: 50%; /* Để căn giữa */
  margin-left: -10px; /* Để căn mũi tên giữa */
  border-width: 10px;
  border-style: solid;
  border-color: #f94161 transparent transparent transparent; /* Màu mũi tên và div giống nhau */
}
div .instagramplace .instagramplace-box .instagramplace-box-1 .instagramplace-box-1-likebox .instagramplace-box-1-likebox-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div .instagramplace .instagramplace-box .instagramplace-box-1 .instagramplace-box-1-likebox .instagramplace-box-1-likebox-container svg {
  width: 17.5px;
  height: 17.5px;
}
div .instagramplace .instagramplace-box .instagramplace-box-1 .instagramplace-box-1-likebox .instagramplace-box-1-likebox-container span {
  color: #fff;
  font-size: 12px;
}
div .instagramplace .instagramplace-box .instagramplace-box-1 h1 {
  font-family: "Cormorant Garamond", serif;
  line-height: 50px;
}
div .instagramplace .instagramplace-box .instagramplace-box-2 {
  width: 100%;
}
div .instagramplace .instagramplace-box .instagramplace-box-2 p {
  text-align: center;
  font-size: 24px;
}
div .instagramplace .instagramplace-box .instagramplace-box-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
div .instagramplace .instagramplace-box .instagramplace-box-3 a .instagramplace-box-3-1 {
  width: 250px;
  aspect-ratio: 1/1;
  background-color: #ff914d;
}
div .instagramplace .instagramplace-box .instagramplace-box-3 a .instagramplace-box-3-2 {
  width: 250px;
  aspect-ratio: 1/1;
  background-color: #ff914d;
}
div .instagramplace .instagramplace-box .instagramplace-box-3 a .instagramplace-box-3-3 {
  width: 250px;
  aspect-ratio: 1/1;
  background-color: #ff914d;
}
div .instagramplace .instagramplace-box .instagramplace-box-3 a .instagramplace-box-3-4 {
  width: 250px;
  aspect-ratio: 1/1;
  background-color: #ff914d;
}
div .FAQs {
  width: 100%;
  background-color: #edefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
div .FAQs .FAQs-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 50px 0;
}
div .FAQs .FAQs-wrapper h1 {
  color: #e85502;
  font-weight: 500;
  font-size: 48px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 h2 {
  font-weight: 300;
  font-size: 32px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #000;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-1 .FAQs-wrapper-1-question-1-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-1 .FAQs-wrapper-1-question-1-title h3 {
  font-size: 24px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-1 .FAQs-wrapper-1-question-1-title button {
  width: 27px;
  height: 27px;
  border: none;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-1 .FAQs-wrapper-1-question-1-title button svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@keyframes rotateUpAnimation {
  from {
    transform: rotate(0deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(180deg); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
@keyframes rotateDownAnimation {
  from {
    transform: rotate(180deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(0); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-1 p {
  font-size: 20px;
  padding: 10px 0 15px 0;
}
@keyframes scrollToTop {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
@keyframes scrollToBottom {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #000;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-2 .FAQs-wrapper-1-question-2-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-2 .FAQs-wrapper-1-question-2-title h3 {
  font-size: 24px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-2 .FAQs-wrapper-1-question-2-title button {
  width: 27px;
  height: 27px;
  border: none;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-2 .FAQs-wrapper-1-question-2-title button svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@keyframes rotateUpAnimation {
  from {
    transform: rotate(0deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(180deg); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
@keyframes rotateDownAnimation {
  from {
    transform: rotate(180deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(0); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-2 p {
  font-size: 20px;
  padding: 10px 0 15px 0;
}
@keyframes scrollToTop {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
@keyframes scrollToBottom {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #000;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-3 .FAQs-wrapper-1-question-3-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-3 .FAQs-wrapper-1-question-3-title h3 {
  font-size: 24px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-3 .FAQs-wrapper-1-question-3-title button {
  width: 27px;
  height: 27px;
  border: none;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-3 .FAQs-wrapper-1-question-3-title button svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@keyframes rotateUpAnimation {
  from {
    transform: rotate(0deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(180deg); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
@keyframes rotateDownAnimation {
  from {
    transform: rotate(180deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(0); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-1 .FAQs-wrapper-1-question .FAQs-wrapper-1-question-3 p {
  font-size: 20px;
  padding: 10px 0 15px 0;
}
@keyframes scrollToTop {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
@keyframes scrollToBottom {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 h2 {
  font-weight: 300;
  font-size: 32px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #000;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-1 .FAQs-wrapper-2-question-1-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-1 .FAQs-wrapper-2-question-1-title h3 {
  font-size: 24px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-1 .FAQs-wrapper-2-question-1-title button {
  width: 27px;
  height: 27px;
  border: none;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-1 .FAQs-wrapper-2-question-1-title button svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@keyframes rotateUpAnimation {
  from {
    transform: rotate(0deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(180deg); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
@keyframes rotateDownAnimation {
  from {
    transform: rotate(180deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(0); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-1 p {
  font-size: 20px;
  padding: 10px 0 15px 0;
}
@keyframes scrollToTop {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
@keyframes scrollToBottom {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #000;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-2 .FAQs-wrapper-2-question-2-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-2 .FAQs-wrapper-2-question-2-title h3 {
  font-size: 24px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-2 .FAQs-wrapper-2-question-2-title button {
  width: 27px;
  height: 27px;
  border: none;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-2 .FAQs-wrapper-2-question-2-title button svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@keyframes rotateUpAnimation {
  from {
    transform: rotate(0deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(180deg); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
@keyframes rotateDownAnimation {
  from {
    transform: rotate(180deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(0); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-2 p {
  font-size: 20px;
  padding: 10px 0 15px 0;
}
@keyframes scrollToTop {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
@keyframes scrollToBottom {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid #000;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-3 .FAQs-wrapper-2-question-3-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-3 .FAQs-wrapper-2-question-3-title h3 {
  font-size: 24px;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-3 .FAQs-wrapper-2-question-3-title button {
  width: 27px;
  height: 27px;
  border: none;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-3 .FAQs-wrapper-2-question-3-title button svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@keyframes rotateUpAnimation {
  from {
    transform: rotate(0deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(180deg); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
@keyframes rotateDownAnimation {
  from {
    transform: rotate(180deg); /* Góc quay ban đầu */
  }
  to {
    transform: rotate(0); /* Góc quay cuối cùng (hoàn thành một vòng) */
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-2 .FAQs-wrapper-2-question .FAQs-wrapper-2-question-3 p {
  font-size: 20px;
  padding: 10px 0 15px 0;
}
@keyframes scrollToTop {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
@keyframes scrollToBottom {
  from {
    height: var(--height-from);
  }
  to {
    height: var(--height-to);
  }
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-link {
  width: 700px;
  padding: 15px 0 0 0;
}
div .FAQs .FAQs-wrapper .FAQs-wrapper-link a p {
  font-size: 24px;
  text-decoration: underline;
  color: #DB2C2C;
}/*# sourceMappingURL=index.css.map */